<ion-view title="Geolocalização">

    <ion-content class="padding">
        
        <button class="button button-full button-positive" ng-click="localizar()">
            Geolocalização
        </button>

        <a class="button button-full button-positive" ui-sref="qrcode">
            QRCode
        </a>

    </ion-content>
</ion-view>