<ion-view title="QRCode">
    
    <ion-content class="padding">

        <button class="button button-full button-positive" ng-click="readCode()">
            Ler QRCode
        </button>

    </ion-content>
</ion-view>